In [2]:
import pandas as pd
import numpy as np

C:\Users\Samantha\anaconda_work\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Samantha\anaconda_work\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [11]:
# Import dataset 

df = pd.read_csv("../data/cleaned data/matched_data_fromR.csv")
df = df.dropna()

df.head()

,Unnamed: 0,id,subclass,weights,District.Name,DistrictType,Virtual,Hybrid,In_Person,mean_proficient_english_2019,...,SpecialEducation,Female,Male,Homeless,MilitaryConnected,perc_unconnected_students,Latitude,Longitude,treatment,distance
0,1,7,1,1,ALTOONA AREA SCHOOL DISTRICT,Regular local school district,2,3,4,45.244444,...,1.464683,0.138839,-0.146036,0.946652,-0.296294,0.736655,40.510234,-78.398142,1,0.329843
1,2,50,1,1,CARBONDALE AREA SCHOOL DISTRICT,Regular local school district,6,3,0,43.500000,...,1.649301,-1.931299,1.920272,-0.588581,-0.579352,0.736655,41.565890,-75.516450,0,0.246532
2,3,10,2,1,ARMSTRONG SCHOOL DISTRICT,Regular local school district,0,7,2,48.025000,...,0.251478,0.828885,-0.834805,0.238083,-0.201941,0.474573,40.831394,-79.547734,1,0.456607
3,4,53,2,1,CARMICHAELS AREA SCHOOL DISTRICT,Regular local school district,0,8,1,45.200000,...,0.805332,1.725945,-1.730205,-0.234296,-0.579352,0.212491,39.898190,-79.979714,0,0.365329
4,5,11,3,1,ATHENS AREA SCHOOL DISTRICT,Regular local school district,0,3,6,47.233333,...,0.198730,-0.827226,0.818241,-0.352391,-0.390646,-0.180632,41.970859,-76.528231,1,0.370849

In [12]:
# Get descriptive statistics by treatment vs control 

stats_by_group = df.groupby('treatment').describe()

In [13]:
stats_by_group.head()

          Unnamed: 0                                                     \
               count   mean         std  min   25%    50%    75%    max
treatment
0              189.0  190.0  109.407495  2.0  96.0  190.0  284.0  378.0
1              189.0  189.0  109.407495  1.0  95.0  189.0  283.0  377.0

              id              ...  Longitude            distance            \
           count        mean  ...        75%        max    count      mean
treatment                     ...
0          189.0  202.883598  ... -75.901815 -74.818789    189.0  0.446101
1          189.0  224.698413  ... -76.019463 -74.741312    189.0  0.528357


                std       min       25%       50%       75%       max
treatment
0          0.148362  0.070394  0.338789  0.445476  0.549940  0.800079
1          0.160062  0.070683  0.423846  0.542102  0.635183  0.999970

[2 rows x 280 columns]

In [15]:
# Export to .csv

stats_by_group.to_csv('../data/cleaned data/stats_by_group.csv', index=True)